{% extends 'base.html' %}

{% block content %}
<div style="margin:10px">
    <h3>{{ post.title }}</h3>
    <h4>{{ post.description }}</h4>
    {% if post.extension == 'img' %}
    <img src="/media/{{ post.media }}" style="width:250px;height:250px">
    {% elif post.extension == 'video' %}
    <video width="250" height="250" controls>
        <source src="/media/{{ post.media }}" type="video/mp4">
    </video>
    {% else %}
    <span>{{ post.media }} | {{ post.extension }}</span>
    {% endif %}
    <h5>{{ post.created_date }}</h5>
    {% if post.user == request.user %}
    <a href="{% url 'edit_post' pk=post.pk %}">Edit</a>
    <a href="{% url 'delete_post' pk=post.pk%}">Delete</a>
    {% endif %}
</div>
{% endblock %}